<div class="row">
	<div class="columns large-5 small-centered">
		<div id="login">
			<fieldset>
				<h2>{{ attribute(langs, cookie.lang).login.headline }}</h2>
				<span class="icon-ico-schliessen"></span>
				<input type="text" id="email" placeholder="{{ attribute(langs, cookie.lang).login.username }}"/>
				<input type="password" id="password" placeholder="{{ attribute(langs, cookie.lang).login.password }}"/>
				<p class="problem">{{ attribute(langs, cookie.lang).login.label_retry }}</p>
				<a class="button">{{ attribute(langs, cookie.lang).login.btn_login }}</a>
				<p><a href="/forgot" class="green">{{ attribute(langs, cookie.lang).login.btn_forgot }}</a></p>
			</fieldset>
		</div>
	</div>
</div>